* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%
}
.background{
    background-image: url(./background\ image.jfif);
    height: 100vh;
}
.class1 {
    margin-top: 100px;
    position: fixed;
}

.class1 img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}
.class2 {
    margin: 0px 0 0 1300px;
}

.class2 img {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    border: 2px solid white;
}

.class3 {
    margin-left: 550px;
    
}

.class3 img {
    width: 500px;
    height: 100px;
    background-color: white;
}

.class4 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}

.class5 {
    text-align: center;
    margin-top: 20px;
}

.class5 button {
    background-color: blue;
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
}

.class5 button:hover {
    text-decoration: underline;
}

.class6 {
    color: white;
    margin-left: 550px;
    margin-top: 30px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 100px;
    border: 1px solid white;
    padding-left: 10px;
    padding-top: 5px;
}

.pages {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.smitform {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.smitform a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.smitform a p {
    text-align: center;
}

.smitform a:hover {
    color: #491cff;
    text-decoration: underline;

}

.periodictable {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;

}

.periodictable a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.periodictable a p {
    text-align: center;
}

.periodictable a:hover {
    color: #491cff;
    text-decoration: underline;

}

.onepagelayout {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.onepagelayout a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.onepagelayout a p {
    text-align: center;
}

.onepagelayout a:hover {
    color: #491cff;
    text-decoration: underline;

}

.pages2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.multiplepages {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.multiplepages a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.multiplepages a p {
    text-align: center;
}

.multiplepages a:hover {
    color: #491cff;
    text-decoration: underline;

}

.formpage {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.formpage a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formpage a p {
    text-align: center;
}

.formpage a:hover {
    color: #491cff;
    text-decoration: underline;

}

.applesite {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.applesite a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.applesite a p {
    text-align: center;
}

.applesite a:hover {
    color: #491cff;
    text-decoration: underline;

}

.saylanihome {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.saylanihome a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.saylanihome a p {
    text-align: center;
}

.saylanihome a:hover {
    color: #491cff;
    text-decoration: underline;
}

.backgroundlayout {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.backgroundlayout a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.backgroundlayout a p {
    text-align: center;
}

.backgroundlayout a:hover {
    color: #491cff;
    text-decoration: underline;

}

.portfolio {
    width: 320px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20%;
}

.portfolio a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.portfolio a p {
    text-align: center;
}

.portfolio a:hover {
    color: #491cff;
    text-decoration: underline;

}
.home button {
    background-color: blue;
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    margin-top: 20px;
    margin-left: 700px;
    cursor: pointer;
}

.home button:hover {
    text-decoration: underline;
}
